body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  background-color: red;
  color:#fff !important;
}

.blog_card{
  background-color: #999;
  margin:0 0 10px;
  border-radius: 10px;
  box-shadow:10px 10px 10px #f9f9f9;
  display:inline-block;
}

.blog_card .thumbnail{
  border:2px solid red;
}

.blog_card .caption{
  padding:10px;

}